$colors: (
    primary: (100: hsl(52, 100%, 70%),
        200: hsl(52, 100%, 60%),
        300: hsl(52, 100%, 50%),
        400: hsl(52, 100%, 40%),
        500: hsl(52, 100%, 30%)),
    secondary: (100: hsl(180, 100%, 70%),
        200: hsl(180, 100%, 60%),
        300: hsl(180, 100%, 50%),
        400: hsl(180, 100%, 40%),
        500: hsl(180, 100%, 30%)),
    tertiary: (100: hsl(123, 68%, 70%),
        200: hsl(123, 68%, 60%),
        300: hsl(123, 68%, 50%),
        400: hsl(123, 68%, 40%),
        500: hsl(123, 68%, 30%)),
    neutrals: (100: hsl(225, 7%, 70%),
        200: hsl(225, 7%, 60%),
        300: hsl(225, 7%, 50%),
        400: hsl(225, 7%, 40%),
        500: hsl(225, 7%, 30%)),
);